<div class="tweet-show__comment__title">
  <div class="tweet-show__comment--count">
    コメント(
      <%= @comments.count %>
      )
  </div>
</div>
<ul class="tweet-show__comment__items">
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</ul>