<% if logged_in? %>
  <%= link_to new_tweet_path, class: "new-btn", data: {"turbolinks" => false} do %>
    <div class="new-btn__tweet">
      <p class="new-btn__tweet--text">
        投稿
      </p>
      <div class="new-btn__tweet--icon">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  <% end %>
<% end %>