<div class="wrapper">
  <ul class="tweet-index">
    <div class="tweet-index__title">
      <p class="tweet-index__title--text"></p>
    </div>
    <%= render @tweets %>
    <%= paginate @tweets %>
  </ul>
</div>
<%= render 'tweets/new_btn' %>
