<div class="wrapper">
  <div class="login">
    <%= form_for(current_user) do |f| %>
      <div class="login__title">
        ユーザー編集
      </div>
      <br>
      <div class="text-center">
        パスワードの変更をしない場合は入力不要です
      </div>
      <div class="login__field">
      </div>
      <%= render "users/form", f: f %>
      <div class="login__field">
        <div class="center">
          <%= f.submit "更新する", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>