<div class="wrapper">
  <%= render "/users/info" %>
  <div class='tweet-index'>
    <div class='user-show__select'>
      <div class='user-show__select__left'>
        <div class='user-show__select--active'>
          最近の投稿
        </div>
      </div>
      <div class='user-show__select__right'>
        <%= link_to "いいねした投稿", likes_user_path, class: "a-hover" %>
      </div>
    </div>
    <%= render @tweets %>
    <% unless @tweets.present? %>
      投稿がありません
    <% end %>
    <%= paginate @tweets %>
  </div>
</div>




　
