.wrapper{
  height: 100%;
  width: 100%;
  background-color: #eee7b0;
  padding: 30px 0;
}

@mixin common-sizing{
  @include sm{
    width: 450px;
  }
  @include sm-max{
    width: 300px;
  }
  @include md{
    width: 650px;
  }
  @include lg{
    width: 800px;
  }
}

.jc-center{
  display: flex;
  justify-content: center;
}

.avatar {
  width: 39px;
  height: 39px;
  border-radius: 100px;
  object-fit: cover;
  &--text:hover{
    color: #505050;
  }
}

.pagination {
  justify-content: center;
}

/* ページネーション*/


/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #030101;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.active{
  display: block;
}

.hide{
  display: none;
}

.text-center{
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
}

.color-black .color-black a{
  color: #333;
}

.black-important{
  color: #333 !important;
}

.a-hover{
  color: black;
  &:hover{
    color: #555;
  }
}

.display-flex{
  display: flex;
}

.label-form{
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pdw-15{
  padding: 0 15px;
}

.mt05rem{
  margin-top: 0.5rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.btn{
  box-shadow: 2px 2px 4px rgb(138, 137, 137);
}