<div class='wrapper'>
  <div class='room-index'>
    <div class='room-index__title room-index-hover'>
      メッセージ
    </div>
    <ul class='room-index__items'>
      <%= render @rooms %>
    </ul>
  </div>
</div>